<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="maps.bank_matrix">
    <uses-permission android:name="android.permission.USE_BIOMETRIC"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/matrix"
        android:label="@string/app_name"
        android:roundIcon="@drawable/matrix"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        android:fullBackupContent="@xml/backup_descriptor">

        <activity
            android:name="maps.bank_matrix.MainActivity"
            android:windowSoftInputMode="stateVisible|adjustPan"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="maps.bank_matrix.MatrixActivity" />
        <activity android:name="maps.bank_matrix.UpdateMatrix" />
        <activity android:name="maps.bank_matrix.MatrixList" />

    </application>

</manifest>